# Общие переменные для всех сервисов
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
JWT_SECRET=

# Squad Service Configuration
SQUAD_SERVICE_URL=
SQUAD_SERVICE_TIMEOUT=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
